<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/stylesheet.css">
    <title>Cocodak</title>
  </head>
  <body>

<header>

  <input type="checkbox" id="menu-toggle">

  <div class="header-left">
  <label for="menu-toggle" class="menu-buttons">
    <img
      src="/assets/hamburger.svg"
      class="hamburger-icoon"
      alt="hamburger-icoon">
	  
	  <img
      src="/assets/close.svg"
      class="close-icoon"
      alt="close-icoon">

</div>


<div class="header-center">
	<a href="/" class="home-link">
    <img
      src="/assets/Cocodak-logo.png"
      class="logo"
      alt="logo" />
	  </a>
	  </div>

	  <div class="header-right">

	  <a href="/winkelmand" class="basket-link">
	  <img src="/assets/basket.svg" class="basket-icoon"
	  alt="basket-icoon">
	  </a>

	  </div>

  </label>


  <nav class="nav-menu">
    <ul class="nav-list">
      <li>
        <a href="/">home</a>
      </li>
      <li>
        <a href="/about">about</a>
      </li>
      <li>
        <a href="/menu">menu</a>
      </li>
      <li>
        <a href="/order">order</a>
      </li>
      <li>
        <a href="/winkelmand">winkelmand</a>
      </li>
    </ul>
  </nav>

</header>