<header class="header-mobile">

  <input type="checkbox" id="menu-toggle">

  <div class="header-left">
    <label for="menu-toggle" class="menu-buttons">
      <img
        src="/assets/hamburger.svg"
        class="hamburger-icoon"
        alt="hamburger-icoon">

      <img
        src="/assets/close.svg"
        class="close-icoon"
        alt="close-icoon">
    </label>
  </div>

  {% comment %} 
          <div class="header-center">
            <a href="/" class="home-link">
              <img
                src="/assets/Cocodak-logo.png"
                class="logo"
                alt="logo" />
            </a>
      </div> {% endcomment %}

  <div class="header-right">

    <a href="/winkelmand" class="basket-link">
      <img
        src="/assets/basket.svg"
        class="basket-icoon"
        alt="basket-icoon">
    </a>

  </div>


  <nav class="nav-menu">
    <ul class="nav-list">
      <li>
        <a href="/">home</a>
      </li>
      <li>
        <a href="/about">about</a>
      </li>
      <li>
        <a href="/menu">menu</a>
      </li>
      <li>
        <a href="/contact">contact</a>
      </li>
      <li>
        <a href="/order">order</a>
      </li>
      <li>
        <a href="/winkelmand">winkelmand</a>
      </li>
    </ul>
  </nav>

</header>