<header class="header-desktop">

  <h1>
    <a href="/home" class="home-link">
      <img
        src="/assets/Cocodak-logo.png"
        class="logo-header"
        alt="logo" />
    </a>
  </h1>

  <nav class="sticky-header">
    <ul class="header-list">
      <li>
        <a href="/home">home</a>
      </li>
      <li>
        <a href="/about">about</a>
      </li>
      <li>
        <a href="/menu">menu</a>
      </li>
      <li>
        <a href="/contact">contact</a>
      </li>
      <li>
        <a href="/order">order</a>
      </li>
    </ul>

    <a href="/winkelmand" class="basket-link">
      <img
        src="/assets/basket.svg"
        class="basket-icoon-desktop"
        alt="basket-icoon">
    </a>
  </nav>
</header>