{% render 'partials/head.liquid' %}

<h1>Bestelling geslaagd!</h1>
<p>Bedankt voor je bestelling. We gaan meteen aan de slag.</p>
<a href="/order">Terug naar menu</a>


{% render 'partials/foot.liquid' %}