{% render 'partials/head.liquid' %}

<section class="succes-state">
  <h2>Bestelling geslaagd!</h2>
  <p>Bedankt voor je bestelling. We gaan meteen aan de slag.</p>
  <a href="/order" class="order-btn">Terug naar menu</a>
</section>

{% render 'partials/foot.liquid' %}