{% render 'partials/head.liquid' %}

<section class="about-banner">

  <h2 class="about-title">Contact
  </h2>

</section>

<article class="contact-section">
  <ul class="contact-text">
    <li>Claude Debussylaan 33, 1082 MC Amsterdam</li>
    <li>Opening hours: Mon-Fri: 12:00 - 21:00, Weekend: Closed</li>
    <li>Phone number:</li>
    <li>
      <a href="https://www.instagram.com/cocodakamsterdam24" class="instagram">Instagram</a>
    </li>
  </ul>


  <img
    src="assets/bibimbap.jpeg"
    class="contact-img"
    alt="">

</article>

{% render 'partials/foot.liquid' %}