{% render 'partials/head.liquid' %}

  <main>


  {% comment %} <img
                      src="assets/cocodak-foodstand.JPG"
                      alt="background-picture-foodstand"
              class="hero-img"> {% endcomment %}

  <h2 class="title-homepage"></h2>
  <p class="text-homepage"></p>

  <a href="/order">order now</a>


</main>

{% render 'partials/foot.liquid' %}