{% render 'partials/head.liquid' %}

<main>
  <img src="" alt="background-picture-foodstand">

  <h2 class="title-homepage"></h2>
  <p class="text-homepage"></p>

  <a href="/order">order now</a>

</main>

{% render 'partials/foot.liquid' %}