{% render 'partials/head.liquid' %}


<input type="checkbox" id="menu">
<label for="menu" class="">
  <img
    src="/assets/plus.svg"
    class="plus-icoon"
    alt="-plus-icoon">
</label>

<section class="section-dish">
  <h3>Naam van het gerecht</h3>
  <p>Beschrijving van het gerecht</p>
</section>


{% render 'partials/foot.liquid' %}