{% render 'partials/head.liquid' %}

<h1>Basket</h1>


{% if mandje and mandje.size > 0 %}
  <ul>
    {% for gerecht in mandje %}
      <li>{{ gerecht.name }}</li>
    {% endfor %}
  </ul>
{% else %}
  <p>Fill your basket</p>
{% endif %}

{% if orderNote %}
  <p>
    <strong>Note:</strong>
    {{ orderNote }}</p>
{% endif %}

<form method="POST" action="/api/winkelmand/place-order">
  <label for="orderNote">Comments & Dietary Requests</label>
  <textarea id="orderNote" name="orderNote">{{ orderNote }}</textarea>
  <button type="submit">Place-order</button></form>

{% comment %} <form method="post" action="">
          <input
            type="hidden"
            name="orderNote"
            value="{{ orderNote }}">
          <button type="submit">Place Order</button>
</form> {% endcomment %}


{% render 'partials/foot.liquid' %}