{% render 'partials/head.liquid' %}

<h1>Basket</h1>


{% if mandje and mandje.size > 0 %}
  <ul>
    {% for gerecht in mandje %}
      <li>{{ gerecht.name }}</li>
    {% endfor %}
  </ul>
{% else %}
  <p>Fill your basket</p>
{% endif %}

{% if orderNote %}
  <p>
    <strong>Note:</strong>
    {{ orderNote }}</p>
{% endif %}

<form method="POST" action="/api/winkelmand/order-note">
  <label for="orderNote">Comments & Dietary Requests</label>
  <textarea id="orderNote" name="orderNote">{{ orderNote }}</textarea>
  <button type="submit">Send</button>
</form>


{% render 'partials/foot.liquid' %}